/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {

  macros {
        e_acute: e_acute {
            label = "e_acute";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp RALT>
                , <&macro_tap &kp SQT>
                , <&macro_tap &kp E>
                ;
        };

        e_grave: e_grave {
            label = "e_grave";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp RALT>
                , <&macro_tap &kp GRAVE>
                , <&macro_tap &kp E>
                ;
        };

        a_grave: a_grave {
            label = "a_grave";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp RALT>
                , <&macro_tap &kp GRAVE>
                , <&macro_tap &kp A>
                ;
        };

        c_cedilla: c_cedilla {
            label = "c_cedilla";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp RALT>
                , <&macro_tap &kp COMMA>
                , <&macro_tap &kp C>
                ;
        };

        workspace_left: workspace_left {
            label = "workspace_left";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp PAGE_UP>
                , <&macro_release &kp LGUI>
                ;
        };


        workspace_right: workspace_right {
            label = "workspace_right";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp PAGE_DOWN>
                , <&macro_release &kp LGUI>
                ;
        };
    };


        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// |  GUI |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ALT  |
//                    | SHFT| LWR | SPC |   | ENT | RSE  | ESC |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LGUI &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp LALT
                  &kp LSHFT &mo 1 &kp SPACE   &kp RET &mo 2 &kp ESC
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// |  GUI | F11 |     | PRT | PP  | NEXT|   | DEL | GDWN| GUP |     |     |      |
//                    | SHFT|     | SPC |   | ENT |     | ESC |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LGUI  &kp F11       &trans       &kp PSCRN       &kp C_PP       &kp K_NEXT         &kp DEL   &workspace_left   &workspace_right &trans    &trans &trans
                                    &kp LSHFT     &trans       &kp SPACE      &kp RET  &trans   &kp ESC
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |  é  |  è  |  à  |  ç  |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// |  GUI |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | SHFT|     | SPC |   | ENT |     | ESC |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &e_acute   &e_grave &a_grave   &c_cedilla   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LGUI &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                             &kp LSHFT &trans   &kp SPACE   &kp RET   &trans    &kp ESC
                        >;
                };
        };
};
